# ==========================
# IGNORAR SECRETS
# ==========================
.env
*.key
*.secret

# ==========================
# IGNORAR LOGS
# ==========================
*.log

# ==========================
# IGNORAR PYTHON CACHE
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ==========================
# IGNORAR VIRTUAL ENV
# ==========================
venv/
.env/
ENV/
env/
.venv/

# ==========================
# IGNORAR OTROS
# ==========================
.DS_Store
.idea/
.vscode/
